.page_header {
    background-color: #272727;
    height: 7rem;
    top: 3.5rem;
}
  
  #title {
    color: white;
    position: absolute;
    padding-left: 3rem;
    font-family: "Trust", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30pt;
    padding-top: 2rem;
  }
  
  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }
  
  .links {
    padding-top: 15px;
  }